<mat-card fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-card-header fxLayout="column">
        <h2>{{ question.question }}</h2>
        <div *ngIf="question.additionalInfo as additionalInfo">
            <mat-expansion-panel class="help">
                <mat-expansion-panel-header>
                    {{ additionalInfo.title }}
                </mat-expansion-panel-header>
                <div *ngFor="let info of additionalInfo.infos">
                    <ng-container *ngIf="info.href; else plainText">
                        <a [href]="info.href">{{ info.text }}</a>
                    </ng-container>
                    <ng-template #plainText>
                        {{ info.text }}
                    </ng-template>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-card-header>
    <mat-card-content fxLayout="row">
        <div fxFlex="20"></div>
        <div fxFlex="60">
            <div *ngIf="question.options as options" [formGroup]="covidFormGroup">
                <mat-radio-group fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="8px" [formControlName]="question.key">
                    <mat-radio-button *ngFor="let option of options" [value]="option.value === undefined ? option.text : option.value">{{ option.text }}</mat-radio-button>
                </mat-radio-group>
            </div>
            <ng-container *ngIf="question.format !== undefined" [formGroup]="covidFormGroup">
                <ng-container [ngSwitch]="question.format">
                    <ng-container *ngSwitchCase="QuestionFormat.Number">
                        <mat-form-field>
                            <mat-label>{{ question.placeholder !== undefined ? question.placeholder : question.question }}</mat-label>
                            <input matInput [placeholder]="question.placeholder !== undefined ? question.placeholder : question.question" [formControlName]="question.key" type="number">
                            <mat-error *ngIf="covidFormGroup.get(question.key).hasError('required')">
                                {{ question.title !== undefined ? question.title : question.question }} is required.
                            </mat-error>
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-content></ng-content>
        </div>
        <div fxFlex="20"></div>
    </mat-card-content>
</mat-card>