<mat-card fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-card-header fxLayout="column">
        <h2>{{ question.question }}</h2>
        <div *ngIf="question.additionalInfo as additionalInfo">
            <mat-expansion-panel class="help">
                <mat-expansion-panel-header>
                    {{ additionalInfo.title }}
                </mat-expansion-panel-header>
                <div *ngFor="let info of additionalInfo.infos">
                    <ng-container *ngIf="info.href; else plainText">
                        <a [href]="info.href">{{ info.text }}</a>
                    </ng-container>
                    <ng-template #plainText>
                        {{ info.text }}
                    </ng-template>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-card-header>
    <mat-card-content fxLayout="row">
        <div fxFlex="20"></div>
        <div fxFlex="60">
            <ng-content></ng-content>
            <div *ngIf="question.options as options" [formGroup]="covidFormGroup">
                <mat-radio-group fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="8px" [formControlName]="options.key">
                    <mat-radio-button *ngFor="let option of options.options" [value]="option.value === undefined ? option.text : option.value">{{ option.text }}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div fxFlex="20"></div>
    </mat-card-content>
</mat-card>