<div fxLayout="row">
    <div fxFlex="20"></div>
    <form [formGroup]="covidForm" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="32px" (ngSubmit)="onSubmit()" fxFlex="60">
        <app-question [question]="covidQuestionnaire.isSarsCov2Positive" [covidFormGroup]="covidForm"></app-question>
        <app-question [question]="covidQuestionnaire.bodyTemperature" [covidFormGroup]="covidForm">
            <!-- <mat-form-field>
                <mat-label>Body Temperature</mat-label>
                <input matInput placeholder="Body Temperature" formControlName="bodyTemperature" type="number">
                <mat-error *ngIf="bodyTemperature.hasError('required')">
                    Body Temperature is required.
                </mat-error>
            </mat-form-field> -->
        </app-question>
        <app-question [question]="covidQuestionnaire.cough" [covidFormGroup]="covidForm"></app-question>
        <app-question [question]="covidQuestionnaire.breathingPatterns" [covidFormGroup]="covidForm"></app-question>
        <app-question [question]="covidQuestionnaire.generalFeeling" [covidFormGroup]="covidForm"></app-question>
        <app-question [question]="covidQuestionnaire.age" [covidFormGroup]="covidForm">
            <!-- <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput placeholder="Age" formControlName="age" type="number">
            </mat-form-field> -->
        </app-question>
        <mat-error *ngIf="error">{{ error }}</mat-error>
        <button mat-raised-button color="primary" type="submit" [disabled]="covidForm.invalid">Submit</button>
    </form>
    <div fxFlex="20"></div>
</div>