<ng-form fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="32px">
    <app-question [question]="covidQuestionnaire.bodyTemperature">
        <mat-form-field>
            <mat-label>Body Temperature</mat-label>
            <input matInput placeholder="Body Temperature">
        </mat-form-field>
    </app-question>
    <app-question [question]="covidQuestionnaire.cough">
        <mat-radio-group fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="8px">
            <mat-radio-button *ngFor="let option of covidQuestionnaire.cough.options" [value]="option">{{ option }}</mat-radio-button>
        </mat-radio-group>
    </app-question>
    <app-question [question]="covidQuestionnaire.age">
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput placeholder="Age">
        </mat-form-field>
    </app-question>
</ng-form>
